*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.featuredProjects {
    background-color: #F0F0F0;
    min-height: 760px;
}

.container {
    display: flex;
    justify-content: center;
}

h1 {
    color: #1E1E1E;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.card {
    height: 443px;
    width: 440px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    transition: all 0.3s ease;
}

.card:hover {
    scale: 1.05;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}

img {
    width: 440px;
    height: 337px;
    border-radius: 10px;
    object-fit: cover;
}

h2 {
    margin-top: 15px;
    color: #1E1E1E;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
}

.card p{
    margin-top: 15px;
    color: #1E1E1E;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.primary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px 30px;
    gap: 10px;
    border-radius: 10px;
    background: #1E1E1E;
    color: #F0F0F0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    transition: all 0.3s ease;
    border: none;
}

.primary:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px 30px;
    gap: 10px;
    border-radius: 10px;
    background: #8CB1A1;
    color: #161616;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}

